/*                KEY POSITIONS

  ╭──────────────────────────────────╮ ╭───────────────────────────────────╮
  │ LT5 LT4 LT3 LT2 LT1 LT0          │ │           RT0 RT1 RT2 RT3 RT4 RT5 │
  │ LM5 LM4 LM3 LM2 LM1 LM0          │ │           RM0 RM1 RM2 RM3 RM4 RM5 │
  │ LB5 LB4 LB3 LB2 LB1 LB0 LBT0 LBT1│ │ RBT1 RBT0 RB0 RB1 RB2 RB3 RB4 RB5 │
  ╰──────────╮  LH4 LH3 LH2 LH1  LH0 │ │ RH0  RH1  RH2 RH3 RH4 ╭───────────╯
             ╰───────────────────────╯ ╰───────────────────────╯ */

#define COMBO_TERM_FAST 18
#define COMBO_TERM_SLOW 30

#define COMBO_IDLE_FAST 150
#define COMBO_IDLE_SLOW 50

#define TAP_DANCE_TERM 200

// ZMK_COMBO(name, result, keys to press, layers (opt), timeout (opt), prior_idle (opt))


/* Macros */
ZMK_BEHAVIOR(mailadres, macro,
  wait-ms = <7>;
  tap-ms = <5>;
  bindings = <&macro_tap &kp D &kp E &kp N &kp N &kp I &kp S &kp DOT &kp G &kp E &kp E &kp R &kp D &kp I &kp N &kp K  &kp AT &kp K &kp A &kp D &kp A &kp S &kp T &kp E &kp R &kp DOT &kp N &kp L>;
)

ZMK_BEHAVIOR(ww, macro,
  wait-ms = <7>;
  tap-ms = <5>;
  bindings = <&macro_tap &kp LS(W) &kp I &kp S &kp E &kp S &kp N &kp O &kp U &kp T &kp N4 &kp N5 &kp N6>;
)

ZMK_BEHAVIOR(keepass, macro,
  wait-ms = <7>;
  tap-ms = <5>;
  bindings = <&macro_tap &kp LS(H) &kp N3 &kp T &kp LS(G) &kp G &kp S &kp LS(T) &kp N3 &kp N4 &kp M &kp LS(I) &kp S &kp LS(A) &kp W &kp N3 &kp S &kp O &kp M &kp E &kp EXCL>;
)

ZMK_BEHAVIOR(log, macro,
  wait-ms = <7>;
  tap-ms = <5>;
  bindings = <&macro_tap &kp L &kp O &kp G &kp TAB>;
)

ZMK_BEHAVIOR(sQT, macro,
  wait-ms = <1>;
  tap-ms = <1>;
  bindings = <&macro_tap &kp SQT &kp SPACE>;
)

ZMK_BEHAVIOR(dQT, macro,
  wait-ms = <1>;
  tap-ms = <1>;
  bindings = <&macro_tap &kp DQT &kp SPACE>;
)

/* Tap dance */
ZMK_BEHAVIOR(TD_SQT, tap_dance,
    tapping-term-ms = <TAP_DANCE_TERM>;
    bindings = <&sQT>, <&kp SQT>;
)

ZMK_BEHAVIOR(TD_DQT, tap_dance,
    tapping-term-ms = <TAP_DANCE_TERM>;
    bindings = <&dQT>, <&kp DQT>;
)
