#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

// Keycodes

#define xxx &none
#define ___ &trans

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                //╭───────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬────────────────┬──────────────┬──────────────┬─────────────╮
                    &bt BT_SEL 0             &kp TAB       &kp W           &kp F         &kp P         &kp B         &kp J         &kp L         &kp U            &kp Y          &kp BSPC       xxx
                //├───────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼────────────────┼──────────────┼──────────────┼─────────────┤
                    &bt BT_SEL 1             xxx           &kp R         &kp S         &kp T         &kp G           &kp M         &kp N         &kp E            &kp I          &kp O          xxx
                //├───────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼────────────────┼──────────────┼──────────────┼─────────────┤
                    &bt BT_SEL 2             &kp Z         &kp X         &kp C         &kp D         &kp V           &kp K         &kp H         &kp COMMA        &kp DOT          &kp SEMI       xxx
                //╰───────────────┴─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼────────────────┴──────────────┴──────────────┴─────────────╯
                                                                              xxx           xxx             xxx             xxx
                //                ╭─────────────┬─────────────┬─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼──────────────┬─────────────┬─────────────╮
                                    xxx           xxx           &kp LSHFT     &mo 1         xxx             xxx             &mo 1       &kp SPACE      xxx           xxx
                //                ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
        function_layer {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |       |      |BT_CLR|BTSEL0|BTSEL1|BTSEL2|                                         |      |      |      |      |      |      |
            // |       |      |      |BTSEL3|BTSEL4|      |                                         |      |      |      |      |      |      |
            // |       |      |      |      |      |      |      |      |      |      |      |      |      |      |      |      |      |      |
            //                       |      |      |      |      |      |      |      |      |      |      |      |      |
            bindings = <
            &trans &trans &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2              &trans &trans &trans &trans &trans &trans
            &trans &trans &trans     &bt BT_SEL 3 &bt BT_SEL 4 &trans                    &trans &trans &trans &trans &trans &trans
            &trans &trans &trans &trans &trans &trans &trans &trans        &trans &trans &trans &trans &trans &trans &trans &trans
                                 &trans &trans &trans &trans &trans        &trans &trans &trans &trans &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
};
