#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include "zmk-helpers/helper.h"
#include "zmk-helpers/key-labels/kyria.h"

#include "combos.dtsi" // Must be sourced after HRM-combo hack.

&spi3 {
    status = "disabled";
};

// Layers

#define DEF 0
#define SYM 1
#define NAV 2
#define MACROS 3
#define NUM 4

// Keycodes

#define xxx &none
#define ___ &trans


/*     CONFIG     */

// Layer tap
#define QUICK_TAP_MS 175
&lt {
  flavor = "balanced";
  tapping-term-ms = <200>;
  quick-tap-ms = <QUICK_TAP_MS>;
};
#include "combos.dtsi" // Must be sourced after HRM-combo hack.

// Trigger tap-action on all interrupts.
#define MT_CORE                                                                \
  flavor = "tap-preferred";                                                    \
  tapping-term-ms = <220>;                                                     \
  quick-tap-ms = <220>;                                                        \
  hold-trigger-key-positions = <0>;

&mt { MT_CORE };

/ {
    behaviors {
        dctrlz: d_ctrl_z {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp D>, <&kp Z>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
            keep-mods = <(MOD_LCTL)>;
        };
        vctrld: v_ctrl_d {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp V>, <&kp D>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
            keep-mods = <(MOD_LCTL)>;
        };
        zctrlx: z_ctrl_x {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp Z>, <&kp X>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
            keep-mods = <(MOD_LCTL)>;
        };
        cctrlv: c_ctrl_v {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp C>, <&kp V>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
            keep-mods = <(MOD_LCTL)>;
        };
        xctrlc: x_ctrl_c {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp X>, <&kp C>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
            keep-mods = <(MOD_LCTL)>;
        };
        qmarkctrlcmnt: qmark_ctrl_comment {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp QMARK>, <&kp SLASH>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
            keep-mods = <(MOD_LCTL)>;
        }; // questionmark, ctrl comment
        hold_sqt: hold_tap_sqt {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <QUICK_TAP_MS>;          
            bindings = <&sQT>, <&kp SQT>;     
        };
        hold_dqt: hold_tap_dqt {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <QUICK_TAP_MS>;          
            bindings = <&dQT>, <&kp DQT>;     
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        DEF {
            bindings = <
                //╭───────────────┬───────────────┬───────────┬───────────┬───────────┬───────────╮                                                               ╭───────────┬───────────────┬───────────┬───────────┬───────────┬───────────╮
                    &lt MACROS TAB  &kp ESC         &kp W       &kp F       &kp P       &kp B                                                                       &kp J       &kp L           &kp U       &kp Y       &kp BSPC    &kp DEL
                //├───────────────┼───────────────┼───────────┼───────────┼───────────┼───────────┤                                                               ├───────────┼───────────────┼───────────┼───────────┼───────────┼───────────┤
                    &kp UNDER       &kp A           &kp R       &kp S       &kp T       &kp G                                                                       &kp M       &kp N           &kp E       &kp I       &kp O       &qmarkctrlcmnt
                //├───────────────┼───────────────┼───────────┼───────────┼───────────┼───────────┼───────────┬──────────────────╮    ╭───────────┬───────────────┼───────────┼───────────────┼───────────┼───────────┼───────────┼───────────┤
                    &zctrlx         &mt Q Z         &xctrlc     &cctrlv     &dctrlz     &vctrld     &kp LALT    &kp LC(LA(LSHFT))       xxx         xxx             &kp K       &kp H           &kp COMMA   &kp DOT     &kp SEMI    &kp F12
                //╰───────────────┴───────────────┴───────────┼───────────┼───────────┼───────────┼───────────┼──────────────────┤    ├───────────┼───────────────┼───────────┼───────────────┼───────────┼───────────┴───────────┴───────────╯
                                                                &mo NUM     &mo SYM     &kp LSHFT   &kp LCTRL   xxx                     xxx         &mo NAV         &kp SPACE   &kp ENTER       &kp LCTRL
                //                                            ╰───────────┴───────────┴───────────┴───────────┴──────────────────╯    ╰───────────┴───────────────┴───────────┴───────────────┴───────────╯
            >;
        };
        

        SYM { // symbols, layer 1
            bindings = <
                //╭───────────────┬───────────┬───────────┬───────────┬───────────┬───────────╮                                                       ╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮
                    &kp EXCL        &kp AT      &kp HASH    &kp DLLR    &kp PRCNT   &kp CARET                                                           &kp PLUS    &kp N7      &kp N8      &kp N9      &kp BSPC    &kp DEL
                //├───────────────┼───────────┼───────────┼───────────┼───────────┼───────────┤                                                       ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤
                    &kp AMPS        &mt GT LT   &mt RBKT LBKT &mt RBRC LBRC &mt RPAR LPAR  xxx                                                          &kp EQUAL   &kp N4      &kp N5      &kp N6      &kp KP_ASTERISK  xxx
                //├───────────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┬───────────╮   ╭───────────┬───────────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤
                    &kp BSLH        &kp SLASH   xxx         &hold_sqt   &hold_dqt  &kp GRAVE   xxx         xxx             xxx         xxx             &kp MINUS   &kp N1      &kp N2      &kp N3      &kp SEMI    xxx
                //╰───────────────┴───────────┴───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────────┼───────────┼───────────┼───────────┼───────────┴───────────┴───────────╯
                                                            xxx         ___         ___         ___         xxx             xxx         ___             ___         &kp N0         ___
                //                                        ╰───────────┴───────────┴───────────┴───────────┴───────────╯   ╰───────────┴───────────────┴───────────┴───────────┴───────────╯
            >;
        };

        NAV { // navigation, layer 2
            bindings = <
                //╭───────────────┬───────────┬───────────────┬───────────────┬───────────────┬───────────╮                                                       ╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮
                    xxx             xxx         xxx             xxx             xxx             xxx                                                                 xxx         &kp PG_UP   xxx         &kp HOME    &kp BSPC    &kp DEL
                //├───────────────┼───────────┼───────────────┼───────────────┼───────────────┼───────────┤                                                       ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤
                    xxx             xxx         &msc SCRL_LEFT  &msc SCRL_UP    &msc SCRL_RIGHT  xxx                                                                 xxx         &kp LEFT    &kp UP      &kp RIGHT   xxx         xxx
                //├───────────────┼───────────┼───────────────┼───────────────┼───────────────┼───────────┼───────────┬───────────╮   ╭───────────┬───────────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤
                    xxx             xxx         xxx             &msc SCRL_DOWN  xxx             xxx         xxx         xxx             xxx         xxx             xxx         &kp PG_DN   &kp DOWN    &kp END     xxx         xxx
                //╰───────────────┴───────────┴───────────────┼───────────────┼───────────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────────┼───────────┼───────────┼───────────┼───────────┴───────────┴───────────╯
                                                                xxx             ___             ___         xxx         xxx             xxx         ___             ___         xxx         ___
                //                                            ╰───────────────┴───────────────┴───────────┴───────────┴───────────╯   ╰───────────┴───────────────┴───────────┴───────────┴───────────╯
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        MACROS { // macros, layer 4
            bindings = <
                //╭───────────────┬───────────┬───────────┬──────────────────┬───────────────────┬───────────╮                                                       ╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮
                    ___             xxx         xxx         &kp LC(LA(LEFT))    &kp LC(LA(RIGHT))   xxx                                                                 xxx         xxx         xxx         xxx         &log       &mailadres
                //├───────────────┼───────────┼───────────┼──────────────────┼───────────────────┼───────────┤                                                       ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤
                    xxx             xxx         xxx         xxx                 xxx                 xxx                                                                 xxx         xxx         xxx         xxx         xxx         &ww
                //├───────────────┼───────────┼───────────┼──────────────────┼───────────────────┼───────────┼───────────┬───────────╮   ╭───────────┬───────────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤
                    xxx             xxx         xxx         xxx                 xxx                 xxx         xxx         xxx             xxx         xxx             xxx         xxx         xxx         xxx         xxx        &keepass
                //╰───────────────┴───────────┴───────────┼──────────────────┼───────────────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────────┼───────────┼───────────┼───────────┼───────────┴───────────┴───────────╯
                                                            xxx                 ___                 ___         xxx         xxx             xxx         ___             ___         xxx         ___
                //                                        ╰──────────────────┴───────────────────┴───────────┴───────────┴───────────╯   ╰───────────┴───────────────┴───────────┴───────────┴───────────╯
            >;
        };

        NUM { // numbers, layer 5
            bindings = <
                //╭───────────────┬───────────┬───────────┬───────────┬───────────┬───────────╮                                                       ╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮
                    xxx             xxx         &kp N7      &kp N8      &kp N9       xxx                                                                xxx         &kp F7      &kp F8      &kp F9      &kp F10     xxx
                //├───────────────┼───────────┼───────────┼───────────┼───────────┼───────────┤                                                       ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤
                    xxx             xxx         &kp N4      &kp N5      &kp N6       xxx                                                                xxx         &kp F4      &kp F5      &kp F6      &kp F11     xxx
                //├───────────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┬───────────╮   ╭───────────┬───────────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤
                    xxx             &kp N0      &kp N1      &kp N2      &kp N3       xxx        xxx         xxx             xxx         xxx             xxx         &kp F1      &kp F2      &kp F3      &kp F12     xxx
                //╰───────────────┴───────────┴───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────────┼───────────┼───────────┼───────────┼───────────┴───────────┴───────────╯
                                                            ___         ___         ___         xxx         &kp ENTER       xxx         &kp ENTER       ___         xxx         ___
                //                                        ╰───────────┴───────────┴───────────┴───────────┴───────────╯   ╰───────────┴───────────────┴───────────┴───────────┴───────────╯
            >;
        };
    };
};
